.header {
  background-image: url(../image/cover-photo.png);
  background-size: cover;
  background-position: right;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -1.5px;

    @include onTablet {
      font-size: 64px;
    }
  }

  &_bottom {
    padding-bottom: 40px;

    @include onTablet {
      padding-bottom: 130px;
    }
  }
}
