.main {
  background-color: $black-main-accent;
  &__content {
    display: grid;
    row-gap: 80px;
    padding-block: 60px;

    @include onTablet {
      padding-block: 120px;
      row-gap: 120px;
    }

    @include onDesktop {
      row-gap: 144px;
    }
  }
}
