.menu {
  height: 100vh;
  box-sizing: border-box;
  background-color: #c2c2c2;
  color: $menu-text-color;
  opacity: 0;
  pointer-events: none;

  text-transform: uppercase;
  font-weight: 600;

  &__top {
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 4px;
    }
  }

  &__phone-number {
    text-decoration: none;
    color: inherit;
    display: block;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 16px;
  }

  &__book-test-drive {
    color: $menu-text-color;
    text-decoration: none;
    display: block;
    font-size: 12px;
    line-height: 16px;

    padding-bottom: 7px;
    border-bottom: 1px solid #000;
    width: fit-content;
  }

  &__nav {
    margin-bottom: 40px;
  }
}
