/* #region page */

html {
  --menu-color: #1D1D1D;
}

.page {
  font-family: 'Poppins', sans-serif;
  color: #FFF;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
}

.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}
/* #endregion */

/* #region header */

.header {
  background-image: url(../image/header-bg-mogile.png);
  background-size: cover;
  background-position: right;
  height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar__icons {
  display: flex;
  gap: 24px;
}

.header__title {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -1.5px;
}

.header_bottom {
  padding: 0px 20px 40px;
}

/* #endregion */

/* #region top-bar */
.top-bar {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar__logo {
  display: flex;
}
/* #endregion */


/* #region icon */

.icon {
  display: block;
  width: 24px;
  height: 24px;
}

.icon--phone {
  background-image: url(../icons/icon-phone-call.png);
}

.icon--menu {
  background-image: url(../icons/icon-burger-menu.png);
}

.icon--close {
  background-image: url(../icons/icon-close.png)
}

/* #endregion */

/* #region menu */

.menu {
  height: 100vh;
  box-sizing: border-box;
  background-color: #C2C2C2;
  opacity: 0;
  pointer-events: none;

  text-transform: uppercase;
  font-weight: 600;
}

.menu__top {
  margin-bottom: 24px;
}

.menu__phone-number {
  color: var(--menu-color);
  text-decoration: none;
  display: block;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 16px;
}

.menu__book-test-drive {
  color: var(--menu-color);
  text-decoration: none;
  display: block;
  font-size: 12px;
  line-height: 16px;

  padding-bottom: 7px;
  border-bottom: 1px solid #000;
  width: fit-content;
}

.menu__nav {
  margin-bottom: 40px;
}

.menu__content {
  padding-inline: 20px;
}

/* #endregion */

/* #region nav */

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav__link {
  color: var(--menu-color);
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2px;
}

/* #endregion */

/* #region footer */

/* #endregion */
