$tablet-min-width: 576px;
$desctop-min-width: 1024px;

$black-main-accent: #1d1d1d;
$white-main-accent: #fff;
$black-secondary-accent: #292929;
$white-secondary-accent: #f8f8fa;

$transition-time: 0.3s;
